header .logo {
    font-weight: bold;
    padding: var(--spacing-1) 0;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    color: rgba(225, 225, 225,);
  }
  
  header {
    color: var(--color-branding);
    background: var(--color-foreground);
    box-shadow: var(--box-shadow);
    height: 64px;
    padding: 0 var(--spacing-5);
  }
  
  header .logo-icon {
    grid-column: 2/3;
    margin-right: var(--spacing-1);
    font-size: 2rem;
    color: red;
  }
  
  header span {
    color: var(--color-text-header);
  }

  .title{
    color: red;
  }
  
  .search {
    display: flex;
    align-items: center;
    color: red;
  }
  
  .search input {
    flex-grow: 1;
    background: var(--color-background-secondary);
    border: none;
    padding: var(--spacing-1) var(--spacing-2);
    height: max-content;
    border-radius: var(--radius);
    color: red
  }
  
  .search button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1.5rem;
  }
  